{% extends "my_site/base.html" %}   

{% block title %}Вход в TOP-PR – Подписчики, лайки, просмотры в соц. сети.{% endblock %}
{% block desc %}
<meta name="description" content="Авторизуйтесь в TOP-PR для получения услуг по накрутке лайков, подписчиков и комментариев в социальных сетях.">
{% endblock %}

{% block login %}  
<main class="bg-gray-100 xs:pt-8">  
  <div class="flex flex-col justify-center items-center">  
    <div class="bg-white shadow-lg rounded-lg p-8 w-full max-w-md">  
      <h2 class="text-2xl font-bold mb-6 text-gray-800">Вход</h2>  

      <form action="{% url "account_login" %}" method="POST" class="space-y-6">  
        {% csrf_token %}  

        {% if form.errors %}  
          <div class="text-red-500">  
            <ul>  
              {% for field in form %}  
                {% for error in field.errors %}  
                  <li>{{ field.label }}: {{ error }}</li>  
                {% endfor %}  
              {% endfor %}  
              {% for error in form.non_field_errors %}  
                <li>{{ error }}</li>  
              {% endfor %}  
            </ul>  
          </div>  
        {% endif %}  

        <div>  
          <label for="{{form.login.id_for_label}}" class="block text-sm font-medium text-gray-700">Электронная почта</label>  
          <input  
            type="{{form.login.field.widget.input_type}}"  
            id="{{form.login.id_for_label}}"  
            name="{{form.login.html_name}}"  
            required  
            class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none text-gray-700"  
          />  
        </div>  

        <div>  
          <label for="{{form.password.id_for_label}}" class="block text-sm font-medium text-gray-700">Пароль</label>  
          <input  
            type="{{form.password.field.widget.input_type}}"  
            id="{{form.password.id_for_label}}"  
            name="{{form.password.html_name}}"  
            required  
            class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none text-gray-700"  
          />  
        </div>  

        <div>  
          <button  
            type="submit"  
            class="w-full bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded-lg transition duration-300"  
          >  
            Войти  
          </button>  
        </div>  

        {% if form.non_field_errors %}  
          <p class="text-center text-sm text-red-500 mt-2">  
            Не удалось войти?  
            <a href="{% url 'account_reset_password' %}" class="text-blue-500 hover:underline">Восстановить пароль</a>  
          </p>  
        {% endif %}  

        <p class="text-center text-sm text-gray-600">  
          Нет аккаунта?   
          <a href="{% url 'account_signup' %}" class="text-blue-500 hover:underline">Зарегистрироваться</a>  
        </p>  
      </form>  
    </div>  
  </div>  
</main>  
{% endblock login %}