{% extends 'my_site/base.html' %}
{% load static %}

{% block password_reset %}
<main class="bg-gray-100 xs:pt-8">
  <div class="min-h-screen flex flex-col justify-center items-center">
    <div class="bg-white shadow-lg rounded-lg p-8 w-full max-w-md">
      <h2 class="text-2xl font-bold mb-6 text-gray-800 text-center">Восстановление пароля</h2>

      <form action="{% url 'account_reset_password' %}" method="POST" class="space-y-6">
        {% csrf_token %}
        
        {% if form.errors %}
          <div class="text-red-500 text-center">
            <ul>
              {% for error in form.email.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        <div>
          <label for="{{ form.email.id_for_label }}" class="block text-sm font-medium text-gray-700">
            Адрес электронной почты
          </label>
          <input
            type="email"
            name="{{ form.email.html_name }}"
            id="{{ form.email.id_for_label }}"
            required
            class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none text-gray-700"
            placeholder="Введите вашу почту"
          />
        </div>

        <div>
          <button
            type="submit"
            class="w-full bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded-lg transition duration-300"
          >
            Сменить пароль
          </button>
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock password_reset %}