{% extends "my_site/base.html" %}

{% block head_title %}Смена пароля{% endblock %}

{% block change_password_done_key %}
    <div class="flex flex-col justify-center items-center min-h-screen bg-gray-100 py-6">
        <div class="bg-white shadow-lg rounded-lg p-8 w-full max-w-md">
            <h1 class="text-center text-2xl font-bold mb-4">Изменение пароля</h1>
            <p class="text-center text-gray-600">Ваш пароль был успешно изменён.</p>
            <div class="text-center mt-4">
                <a href="{% url 'account_login' %}" class="text-blue-500 hover:underline">Перейти к авторизации</a>
            </div>
        </div>
    </div>
{% endblock %}