{% extends "my_site/base.html" %}
{% load allauth %}

{% block head_title %}Изменение пароля{% endblock %}

{% block password_reset_from_key %}
    <h1 class="text-center mb-6 text-2xl font-bold">
        {% if token_fail %}
            Не верный токен
        {% else %}
            Изменить пароль
        {% endif %}
    </h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="text-center text-gray-600">
            Ссылка для сброса пароля была недействительной, возможно, потому, что она уже использовалась.
            Пожалуйста запросите повторно <a href="{{ passwd_reset_url }}" class="text-blue-500 hover:underline">сбросить пароль</a>.
        </p>
    {% else %}

    <div class="flex justify-center mx-3">
        <form method="POST" action="{{ action_url }}" class="w-full max-w-md bg-white p-6 rounded-lg shadow-lg">
            {% csrf_token %}
            <div class="mb-3 text-red-600">
                {{ form.non_field_errors }}
                {{ form.password1.errors }}
                {{ form.password2.errors }}
            </div>

            <div class="mb-4">
                <label for="{{ form.password1.id_for_label }}" class="block text-sm font-medium text-gray-700">Новый пароль</label>
                <input
                type="password"
                name="{{ form.password1.html_name }}"
                id="{{ form.password1.id_for_label }}"
                required
                class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none text-gray-700"
              />
            </div>

            <div class="mb-4">
                <label for="{{ form.password2.id_for_label }}" class="block text-sm font-medium text-gray-700">Новый пароль ещё раз</label>
                <input
                type="password"
                name="{{ form.password2.html_name }}"
                id="{{ form.password2.id_for_label }}"
                required
                class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none text-gray-700"
              />
            </div>

            <div class="form-row mb-4">
                <button type="submit" name="action" class="w-full bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded-lg transition duration-300">
                    Изменить
                </button>
            </div>
        </form>
    </div>
    {% endif %}
{% endblock %}