env
.vscode
top_pr/test.py
top_pr/test_redis.py
top_pr/db.sqlite3
top_pr/celerybeat-schedule
top_pr/dump.rdb
top_pr/start_gunicorn.sh
top_pr/test.html
top_pr/start_gunicorn.sh
top_pr/.env
.req.txt
# Игнорировать все папки __pycache__ и их содержимое
**/__pycache__/
**/*.py[cod]

# Игнорировать все файлы миграций
**/migrations/*

# Но не игнорировать файл __init__.py в папке migrations
!**/migrations/__init__.py