{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'my_site/img/favicon.ico' %}" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'my_site/css/output.css' %}" />
    <title>
      {% block title %}
        Расскрутка соц. сетей
      {% endblock %}
    </title>
  </head>

  <body class="font-lato min-h-screen flex flex-col">
    {% block header %}
      <header id="header" class="header sticky pb-3 pt-4 mb-0 bg-gray-100 top-0 left-0 w-full z- transition-all duration-100 ease-in-out">
        <!-- Блок меню -->
        <nav>
          <div class="container items-center flex justify-between">
            <div>
              <a href="{% url 'index' %}"><img src="{% static 'my_site/img/logo.png' %} " alt="logo" class="xs:h-7 xs:w-14" /></a>
            </div>

            <!-- DESKTOP MENU -->
            <div>
              <ul class="sm:hidden flex gap-14 md:gap-9 text-xl text-slate-900 font-medium">
                <li>
                  <a href="{% url 'index' %}" class="hover:text-blue-600 transition-colors tracking-wide">Главаная</a>
                </li>
                <li>
                  <a href="{% url 'services' %}" class="hover:text-blue-600 transition-colors tracking-wide">Услуги</a>
                </li>
                <li>
                  <a href="#" class="hover:text-blue-600 transition-colors tracking-wide">Отзывы</a>
                </li>
              </ul>
            </div>

            <!-- MOBILE MENU -->

            <div class="nav-links duration-500 hidden absolute bg-white left-0 w-full sm:flex items-center px-5 top-[-100vh] transition-transform transform z-50">
              <ul class="flex flex-col pb-5 mt-5 gap-5 items-start text-base text-slate-900 font-medium">
                <li>
                  <a href="{% url 'index' %}" class="hover:text-blue-600 transition-colors tracking-wide">Главаная</a>
                </li>
                <li>
                  <a href="{% url 'services' %}" class="hover:text-blue-600 transition-colors tracking-wide">Услуги</a>
                </li>
                <li>
                  <a href="#" class="hover:text-blue-600 transition-colors tracking-wide">Отзывы</a>
                </li>
              </ul>
            </div>

            <div class="sm:hidden text-lg md:text-base">
              {% if user.is_authenticated %}
                <a href="{% url 'profile' %}" class="bg-blue-600 xs:text-xs px-7 md:px-6 py-3 rounded-3xl tracking-wide hover:bg-blue-500 hover:text-white transition-colors duration-500">Кабинет</a>
                <a href="{% url 'account_logout' %}" class="bg-blue-300 px-7 md:px-6 py-3 rounded-3xl ml-4 tracking-wide transition-all duration-500">Выйти</a>
              {% else %}
                <a href="{% url 'account_login' %}" class="bg-teal-300 xs:text-xs px-7 md:px-6 py-3 rounded-3xl tracking-wide hover:bg-blue-500 hover:text-white transition-colors duration-500">Войти</a>
                <a href="{% url 'account_signup' %}" class="bg-gradient-to-r from-teal-300 to-blue-500 hover:from-blue-500 hover:to-teal-300 px-7 md:px-6 py-3 rounded-3xl ml-4 tracking-wide transition-all duration-500">Зарегистироваться</a>
              {% endif %}
            </div>

            <!-- Бургер меню -->
            <button id="burger" class="hidden sm:block group relative h-5 w-[30px]">
              <span class="absolute top-0 left-1/2 h-[3px] w-full bg-black rounded-full transition-all duration-300 ease-in-out translate-x-[-50%] group-[.active]:translate-y-[8px] group-[.active]:rotate-45"></span>
              <span class="absolute top-1/2 left-1/2 h-[3px] w-full bg-black rounded-full transition-all duration-300 ease-in-out translate-x-[-50%] translate-y-[-50%] group-[.active]:opacity-0"></span>
              <span class="absolute bottom-0 left-1/2 h-[3px] w-full bg-black rounded-full transition-all duration-300 ease-in-out translate-x-[-50%] group-[.active]:-translate-y-[8px] group-[.active]:-rotate-45"></span>
            </button>
          </div>
        </nav>
      </header>
    {% endblock %}

    <main class="bg-gray-100 xs:pt-8 flex-1">
      {% block main %}

      {% endblock %}
      {% block login %}

      {% endblock %}
      {% block signup %}

      {% endblock %}
      {% block confirm_order %}

      {% endblock %}
      {% block services %}

      {% endblock %}
      {% block create_order %}

      {% endblock %}
      {% block profile %}

      {% block oferta %}
      {% endblock oferta %}

      {% endblock %}
      <div id="toast-container" class="fixed top-16 right-5 space-y-4 z-50"></div>
      <script src="{% static 'my_site/js/alert.js' %}"></script>
    </main>

    {% comment %} <footer class="bg-gray-100 py-6 text-start text-gray-600">
      <div class="container flex justify-between">
        <div>
          <img src="{% static 'my_site/img/logo.png' %}" alt="logo" class="h-[40px] sm:h-[25px] w-[80px] sm:w-[39.5px] mb-3" />
          <p class="mb-3 text-xs sm:text-[8px] block">
            Раскрутка ВКонтакте, Телеграм,<br />
            TикТок и других площадках
          </p>
        </div>
        <div class="flex flex-col gap-3 text-sm sm:text-xs">
          <a href="#" class="footer-link">Политика конфиденциальности</a>
          <a href="{% url 'oferta' %}" class="footer-link">Публичная оферта</a>
          <a href="{% url 'policy' %}" class="footer-link">Политика cookies</a>
          <a href="#" class="footer-link">Карта сайта</a>
        </div>
        <div class="sm: mr-3">
          <ul class="flex flex-col gap-3 text-sm sm:text-xs">
            <li>Навигация</li>
            <li>
              <a href=" #" class="footer-link">Каталог услуг</a>
            </li>
            <li>
              <a href="#" class="footer-link">Отзывы клиентов</a>
            </li>
            <li>
              <a href="#" class="footer-link">Помощь</a>
            </li>
            <li>
              <a href="#" class="footer-link">Контакты</a>
            </li>
          </ul>
        </div>
        <div>
          <p class="sm: text-xs">ПРИНИМАЕМ К ОПЛАТЕ</p>
          <div class="flex gap-3 mt-3">
            <img src="{% static 'my_site/img/cart.svg' %}" alt="cart" /> <img src="{% static 'my_site/img/iomoney.svg' %}" alt="iomoney" />
          </div>
        </div>
      </div>
      <p class="container text-xs">© 2024 Все права защищены</p>
    </footer> {% endcomment %}
    
    <footer>
      <div class="bg-gray-700 py-4 text-gray-400">
        <div class="container px-4 mx-auto">
          <div class="-mx-4 flex flex-wrap justify-between">
            <div class="px-4 my-4 md:w-full w-1/5">
              <a href="/" class="block w-56 mb-5"><img src="{% static 'my_site/img/logo.png' %}" alt="logo" /></a>
              <p class="">Раскрутка ВКонтакте, Телеграм, TикТок и других площадках</p>
            </div>

            <div class="px-4 my-4 xs:w-full w-auto">
              <div>
                <h2 class="inline-block text-lg pb-4 mb-4 border-b-4 border-blue-600">Навигация</h2>
              </div>
              <ul class="leading-8">
                <li>
                  <a href="#" class="hover:text-blue-400">Политика конфиденциальности</a>
                </li>
                <li>
                  <a href="{% url 'oferta' %}" class="hover:text-blue-400">Публичная оферта</a>
                </li>
                <li>
                  <a href="{% url 'policy' %}" class="hover:text-blue-400">Политика cookies</a>
                </li>
                <li>
                  <a href="#" class="hover:text-blue-400">Карта сайта</a>
                </li>
              </ul>
            </div>
            <div class="px-4 my-4 x:sw-full w-auto">
              <div>
                <h2 class="inline-block text-lg pb-4 mb-4 border-b-4 border-blue-600">Навигация</h2>
              </div>
              <ul class="leading-8">
                <li>
                  <a href="/profile.html" class="hover:text-blue-400">Каталог услуг</a>
                </li>
                <li>
                  <a href="#" class="hover:text-blue-400">Отзывы клиентов</a>
                </li>
                <li>
                  <a href="#" class="hover:text-blue-400">Помощь</a>
                </li>
                <li>
                  <a href="#" class="hover:text-blue-400">Контакты</a>
                </li>
              </ul>
            </div>
            <div class="px-4 my-4 xs:w-full md:w-auto w-1/5">
              <div>
                <h2 class="inline-block text-lg pb-4 mb-4 border-b-4 border-blue-600">ПРИНИМАЕМ К ОПЛАТЕ</h2>
              </div>
              <a href="#" class="inline-flex items-center justify-center h-8 w-8 border border-gray-100 rounded-full mr-1 hover:text-blue-400 hover:border-blue-400"><img src="{% static 'my_site/img/cart.svg' %}" alt="cart" /></a>
              <a href="#" class="inline-flex items-center justify-center h-8 w-8 border border-gray-100 rounded-full mr-1 hover:text-blue-400 hover:border-blue-400"><img src="{% static 'my_site/img/iomoney.svg' %}" alt="iomoney" /></a>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-indigo-700 py-4 text-gray-100">
        <div class="container mx-auto px-4">
          <div class="-mx-4 flex flex-wrap justify-between">
            <div class="px-4 xs:w-full xs:text-center w-auto text-left">
              © 2020<script>
                      new Date().getFullYear() > 2020 && document.write('- ' + new Date().getFullYear())
                    </script>Все права защищены
            </div>
          </div>
        </div>
      </div>
    </footer>

    {% block main_script %}
      <script src="{% static 'my_site/js/main.js' %}"></script>
    {% endblock %}
    {% block script_js %}

    {% endblock %}
  </body>
</html>
