{% extends "my_site/base.html" %}
{% load static %}

{% block canonical %}
<link rel="canonical" href="https://top-pr.ru/services/">
{% endblock %}

{% block desc %}
<meta name="description" content="Выберите лучшие услуги для продвижения в Instagram, ВКонтакте, Telegram, TikTok и других соцсетях. Лайки, подписчики, просмотры – быстро и выгодно!">
{% endblock %}

{% block title %}Все услуги продвижения - лайки, подписчики, просмотры | Top-PR{% endblock %}

{% block services %}
    <!-- Контейнер -->
    <div class="container pb-24">
        <!-- Выпадающие списки -->
        <div class="w-full pb-14 xs:pt-4">
            <div class="flex xs:flex-col justify-between gap-10">
                <!-- Социальная сеть -->
                <div class="w-full max-w-lg">
                    <label for="socialNetwork"
                        class="block text-sm font-semibold text-gray-800 mb-[14px]">Социальная
                        сеть</label>
                    <div class="relative mt-1">
                        <div class="py-3 xs:py-2 px-3 sx:py-1 border-2 border-spacing-6 border-gray-300 rounded-md cursor-pointer"
                            id="socialNetwork"
                            data-selectSocial="{{cats.0.slug}}">
                            <div class="flex items-center justify-between">
                                <div class="flex items-center gap-5">
                                    <img id="socialNetworkIcon" src="{% static 'my_site/img/' %}{{ cats.0.get_img_display }}" alt="Icon" class="w-7 xs:w-5 h-7 xs:h-5">
                                    <span id="socialNetworkId" class="text-gray-600 hover:text-gray-900 text-lg xs:text-base">{{ cats.0.cat_name }}</span>
                                </div>
                                <div>
                                    <img id="socialNetworkIconCheck" class="h-3 xs:h-2 w-5 xs:w-4"
                                        src="{% static "my_site/img/check.svg" %}" alt="check">
                                </div>
                            </div>
                            <div class="absolute left-0 right-0 mt-1 hidden bg-white border border-gray-300 rounded-md shadow-lg z-10"
                                id="socialNetworkOptions">
                                {% for cat in cats %}
                                <div class="flex items-center p-2 cursor-pointer hover:bg-gray-100"
                                    data-value="{{ cat.slug }}" data-icon="img/telegram.svg">
                                    <img src="{% static 'my_site/img/' %}{{ cat.get_img_display }}" class="w-5 h-5 mr-2" alt="{{cat.slug}}">
                                    <span>{{ cat.cat_name }}</span>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Услуга -->
                <div class="w-full max-w-lg">
                    <label for="service"
                        class="  block text-sm font-semibold text-gray-800 mb-[14px]">Услуга</label>
                    <div class="relative mt-1">
                        <div class="py-3 xs:py-2 px-3 sx:py-1 border-2 border-spacing-6 border-gray-300 rounded-md cursor-pointer"
                            id="service">
                            <div class="flex items-center justify-between">
                                <div class="flex items-center gap-5">
                                    <img id="serviceIcon" src="{% static "my_site/img/" %}{{ cats.0.sub_cat.all.0.get_img_display }}" alt="Icon" class="w-5 h-5">
                                    <span id="serviceText"
                                        class="text-gray-600 hover:text-gray-900 text-lg xs:text-base">{{cats.0.sub_cat.all.0.name}}</span>
                                </div>
                                <div>
                                    <img id="serviceIconCheck" class="h-3 xs:h-2 w-5 xs:w-4" src="{% static "my_site/img/check.svg" %}"
                                        alt="check">
                                </div>
                            </div>
                            <div class="absolute left-0 right-0 mt-1 hidden bg-white border border-gray-300 rounded-md shadow-lg z-10"
                                id="serviceOptions">
                                {% for sub_cat in cats.0.sub_cat.all %}
                                <div class="flex items-center p-2 cursor-pointer hover:bg-gray-100"
                                    data-value="{{ sub_cat.slug }}" data-icon="img/users.svg">
                                    <img src="{% static "my_site/img/" %}{{ sub_cat.get_img_display }}" class="w-5 h-5 mr-2" alt="{{sub_cat.slug}}">
                                    <span>{{ sub_cat.name }}</span>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Карточки Тарифов -->
        <div id="tariffCardsContainer" class="grid grid-cols-3 sm:grid-cols-2 xs:grid-cols-1  gap-8 w-full">

            {% for service in services %}
            <div class="bg-white shadow-lg rounded-lg p-6 flex flex-col h-full">
                <div class="flex flex-col items-center flex-grow">
                    <img src="{% static 'my_site/img/' %}{{ service.category.get_img_display }}" alt="{{service.category.slug}}" class="w-10 h-10 mb-4">
                    <h3 class="text-lg font-semibold text-gray-800 mb-2">{{ service.category.cat_name }} {{ service.sub_cat.name }}</h3>
                    <h3 class="text-lg font-semibold text-gray-800 mb-2">{{ service.name }}</h3>
                    <p class="text-gray-500 mb-4">Цена за 1000 шт: {{ service.price_1000| floatformat:"0" }} ₽</p>
                    <p class="text-sm text-center text-gray-600 mb-6">{{ service.text_pre_info }}</p>
                </div>
                <div class="flex flex-col">
                    <button onclick="window.open('{% url 'create-order' service.slug %}', '_blank')"
                            class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-lg transition duration-300">Заказать</button>
                    <button onclick="openModal(event)" data-info="{{ service.text_info }}" data-speedDay="{{ service.speed_day }}"
                            class="bg-gray-300 hover:bg-gray-400 text-gray-800 mt-3 py-2 px-4 rounded-lg transition duration-300">Подробнее</button>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
    
    <!-- Затемнение фона и само модальное окно -->
    <div id="modal" class="fixed inset-0 bg-gray-800 bg-opacity-50 items-center justify-center hidden" onclick="closeModal(event)">
        <!-- Контейнер модального окна -->
        <div class="bg-white w-full max-w-lg p-3 rounded-lg shadow-lg relative" onclick="event.stopPropagation()">
            <!-- Кнопка закрытия модального окна -->
            <button onclick="closeModal()" class="absolute top-2 right-2 text-gray-600 hover:text-gray-800">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                    </path>
                </svg>
            </button>

            <!-- Заголовок модального окна -->
            <h2 class="text-4xl text-center font-semibold text-gray-800 mb-4">Описание услуги</h2>

            <!-- Основное содержание -->
            <h3 class="text-xl font-medium text-gray-900 my-4">Среднее время выполнения:</h3>
            <div id="speedDay" class="text-gray-600"></div>
            <h3 class="text-xl font-medium text-gray-900 my-4">Описание услуги:</h3>
            <div id="textInfo" class="text-gray-600 "></div>
        </div>
{% endblock services %}

{% block script_js %}
<script src="{% static 'my_site/js/service.js' %}"></script>
{% endblock script_js %}