@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container {
        @apply max-w-[1200px];
        /* @apply sm:bg-red-500;
        @apply sm:w-full */
    }
}

@layer utilities {
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  
    input[type="number"] {
      -moz-appearance: textfield;
    }
  }

.footer-link {
    @apply text-gray-700 hover:text-gray-950;
}

.container-pr {
  /* @apply max-w-[1200px];
  @apply sm:w-full */
  @apply container;
  @apply sm:bg-red-500;
  @apply sm:p-0;
}