{% extends 'my_site/base.html' %}
{% load static %}

{% block password_reset %}

<form action="{% url 'account_reset_password' %}" method="POST">
    <div class="text-center">
        <!-- <label for="{{ form.email.id_for_label }}" class="form-label">Адрес электронной почты</label> -->
    </div>
    <div class="d-flex flex-column align-items-center">
        

        <div class="d-flex col-8 col-lg-4 justify-content-center">
            <div class="col-7 pe-2">
                <!-- <input type="email" name="email" class="form-control" placeholder="Электронная почта" aria-label="Электронная почта"> -->
                <label for="{{ form.email.id_for_label }}" class="form-label">Адрес электронной почты</label>
                
                {% csrf_token %}
                {{ form.email }}        
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-success mt-4">Сменить пароль</button>
        </div>
    </div>
</form>
{% endblock password_reset %}