{% extends 'lk/base_profile.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
  Новый заказ
{% endblock %}
{% block header_main %}Новый заказ{% endblock header_main %}
{% block content %}
    <!-- БЫСТРЫЙ ЗАКАЗ -->
    <section class="bg-white" id="create-order">
      <div class="">
        <!-- ОФОРМЛЕНИЕ ЗАКАЗА -->
        <div class="flex items-center justify-center">
          <div class="flex sm:flex-col w-full max-w-4xl gap-3">
            <!-- Форма оформления заказа -->
            <div class="flex-col w-1/2 sm:w-full">
              {% csrf_token %}
              <!-- Социальная сеть -->
              <div class="mb-6">
                <label for="socialNetwork" class="block text-sm font-semibold text-black mb-[14px]">Социальная сеть</label>
                <div class="relative mt-1">
                  <div class="relative border border-gray-300 rounded-md cursor-pointer" id="socialNetwork">
                    <div class="flex items-center justify-between px-5 py-3">
                      <div class="flex items-center gap-5">
                        <img id="socialNetworkIcon" src="{% static 'my_site/img/' %}{{ categories.0.get_img_display }}" alt="{{ categories.0.cat_name }}" class="w-7 xs:w-5 h-7 xs:h-5" />
                        <span id="socialNetworkText" data-value="{{ categories.0.slug }}" class="text-gray-600 hover:text-gray-900 text-lg xs:text-base">{{ categories.0.cat_name }}</span>
                      </div>
                      <div>
                        <img id="socialNetworkIconCheck" class="h-3 xs:h-2 w-5 xs:w-4" src="{% static 'my_site/img/check.svg' %}" alt="check" />
                      </div>
                    </div>
                    <div class="absolute left-0 right-0 mt-1 hidden bg-white border border-gray-300 rounded-md shadow-lg z-10" id="socialNetworkOptions">
                      {% for cat in categories %}
                        <div class="flex items-center p-2 cursor-pointer hover:bg-gray-100" option data-value="{{ cat.slug }}" data-icon="{% static 'my_site/img/' %}{{ cat.get_img_display }}">
                          <img src="{% static 'my_site/img/' %}{{ cat.get_img_display }}" class="w-5 h-5 mr-2" alt="{{ cat.cat_name }}" />
                          <span>{{ cat.cat_name }}</span>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>

              <!-- Услуга -->
              <div class="mb-6">
                <label for="service" class="block text-sm font-semibold text-black mb-[14px]">Услуга</label>
                <div class="relative mt-1">
                  <div class="relative border border-gray-300 rounded-md cursor-pointer" id="service">
                    <div class="flex items-center justify-between px-5 py-3">
                      <div class="flex items-center gap-5">
                        <img id="serviceIcon" src="{% static 'my_site/img/' %}{{ sub_cats.0.get_img_display }}" alt="Icon" class="w-5 h-5" />
                        <span id="serviceText" data-value="{{ sub_cats.0.slug }}" class="text-gray-600 hover:text-gray-900 text-lg xs:text-base">{{ sub_cats.0.name }}</span>
                      </div>
                      <div>
                        <img id="serviceIconCheck" class="h-3 xs:h-2 w-5 xs:w-4" src="{% static 'my_site/img/check.svg' %}" alt="check" />
                      </div>
                    </div>
                    <div class="absolute left-0 right-0 mt-1 hidden bg-white border border-gray-300 rounded-md shadow-lg z-10" id="serviceOptions">
                      {% for sub_cat in sub_cats %}
                        <div class="flex items-center p-2 cursor-pointer hover:bg-gray-100" option data-value="{{ sub_cat.slug }}" data-icon="{% static 'my_site/img/' %}{{ sub_cat.get_img_display }}">
                          <img src="{% static 'my_site/img/' %}{{ sub_cat.get_img_display }}" class="w-5 h-5 mr-2" alt="sub_cat.name" />
                          <span>{{ sub_cat.name }}</span>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>

              <!-- Тариф -->
              <div class="mb-6">
                <label for="tariff" class="block text-sm font-semibold text-black mb-[14px]">Тариф</label>
                <div class="relative mt-1">
                  <div class="relative border border-gray-300 rounded-md cursor-pointer" id="tariff">
                    <div class="flex items-center justify-between px-5 py-3">
                      <div class="flex items-center gap-5">
                        <span id="infoText" data-value="{{ tariffs.0.service_id }}" data-price="{{ tariffs.0.price_per_one }}" data-minCount="{{ tariffs.0.min_count }}" data-maxCount="{{ tariffs.0.max_count }}" class="text-gray-600 hover:text-gray-900 text-lg xs:text-xs">
                          {{ tariffs.0.name }} ({{ tariffs.0.price_per_one | format_decimal}}
                          руб./шт)
                        </span>
                      </div>
                      <div>
                        <img id="tariffIconCheck" class="h-3 xs:h-2 w-5 xs:w-4" src="{% static 'my_site/img/check.svg' %}" alt="check" />
                      </div>
                    </div>
                    <div class="absolute left-0 right-0 mt-1 hidden bg-white border border-gray-300 rounded-md shadow-lg z-10" id="tariffOptions">
                      {% for tariff in tariffs %}
                        <div class="flex items-center p-2 cursor-pointer hover:bg-gray-100" option data-value="{{ tariff.service_id }}" data-price="{{ tariff.price_per_one }}" data-minCount="{{ tariff.min_count }}" data-maxCount="{{ tariff.max_count }}" data-desc="{{ tariff.text_info }}">
                          <span>
                            {{ tariff.name }} ({{ tariff.price_per_one | format_decimal}}
                            руб./шт)
                          </span>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>

              <!-- ССЫЛКА -->
              <div class="mb-6">
                <label class="block text-sm font-semibold text-black mb-[14px]">Ссылка</label>
                <input type="url" name="url" id="link_p" placeholder="{{ tariffs.0.link_p }}" class="text-xl xs:text-base placeholder-gray-600 hover:placeholder-gray-900 text-gray-600 pl-5 py-3 border rounded-md w-full border-gray-300 focus:ring-0 focus:outline-none" />
                <span id="url-error" class="text-red-700 mt-1"></span>
              </div>

              <!-- EMAIL -->
              {% if user.is_authenticated %}
                <div class="mb-6 hidden">
                  <label class="block text-sm font-semibold text-black mb-[14px]">Email</label>
                  <input id="inputEmail" type="Email" name="email" value="{{ user.email }}" placeholder="Адрес электроной почты" class="text-xl xs:text-base placeholder-gray-600 hover:placeholder-gray-900 text-gray-600 pl-5 py-3 border rounded-md w-full border-gray-300 focus:ring-0 focus:outline-none" />
                </div>
              {% else %}
                <div class="mb-6">
                  <label class="block text-sm font-semibold text-black mb-[14px]">Email</label>
                  <input id="inputEmail" type="Email" name="email" placeholder="Адрес электроной почты" class="text-xl xs:text-base placeholder-gray-600 hover:placeholder-gray-900 text-gray-600 pl-5 py-3 border rounded-md w-full border-gray-300 focus:ring-0 focus:outline-none" />
                  <span id="email-error" class="text-red-700 mt-1"></span>
                </div>
              {% endif %}

              <!-- Кол-во -->
              <div class="flex justify-between">
                <div class="xs:w-1/2 xs:mb-7">
                  <label for="numberInput" class="block text-sm font-semibold text-black mb-[14px]">Количество</label>
                  <div class="flex items-center">
                    <button id="decrease" class="text-xl text-gray-700 px-4 xs:px-3 py-3 xs:py-2 border border-gray-300 rounded-l-md">-</button>
                    <input id="numberInput" type="text" value="{{ tariffs.0.min_count }}" class="text-xl w-24 text-center text-gray-600 px-3 py-3 xs:py-2 border-t border-b border-gray-300 focus:ring-0 focus:outline-none" pattern="\d*" inputmode="numeric" />
                    <button id="increase" class="text-xl text-gray-700 px-4 xs:px-3 py-3 xs:py-2 border border-gray-300 rounded-r-md">+</button>
                  </div>
                  <div class="flex items-center gap-3 mt-2">
                    <img src="{% static 'my_site/img/limit.svg' %}" alt="limit" class="w-3 h-3" />
                    <small id="infoCount" class="text-gray-600 xs:text-xs">Лимиты: от {{ tariffs.0.min_count }} до {{ tariffs.0.max_count }}</small>
                  </div>
                  <span id="count-error" class="text-red-700 mt-1"></span>
                </div>
                <div class="xs:w-auto">
                  <label for="finalPrice" class="block text-sm font-semibold text-black mb-[14px]">Цена</label>
                  <div id="finalPrice" class="xs:w-auto text-center xs:text-right text-xl text-gray-600 px-4 xs:px-3 py-3 xs:py-2 rounded-md border border-gray-300">0 ₽</div>
                </div>
              </div>

              <!-- Промокод -->
              <div class="mb-6">
                <div class="flex items-center justify-between mb-5">
                  <label for="promocode" class="block text-sm font-semibold text-black">Промокод</label>
                  <a href="https://t.me/top_p_r" class="text-base xs:text-xs py-2 px-3 border border-blue-700 hover:border-fuchsia-900 text-blue-700 hover:text-fuchsia-900 rounded-md">Получить промокод!</a>
                </div>
                <div class="flex items-center border border-gray-300 rounded p-1">
                  <input type="text" name="promocode" id="promocode" class="xs:text-sm pl-3 py-2 xs:py-1 w-full border-0 focus:ring-0 focus:outline-none" placeholder="Введите промокод" />
                  <button type="button" id="btn-promo" class="xs:text-xs bg-blue-500 text-white px-4 xs:px-3 py-2 xs:py-2 rounded hover:bg-blue-600">Активировать</button>
                </div>
                <span id="promo-error" class="text-red-700 mt-1"></span>
              </div>
              <!-- Кнопка -->

              <button id="submitButton" class="text-white bg-gradient-to-r from-teal-300 to-blue-500 hover:from-blue-500 hover:to-teal-300 px-7 py-3 rounded-3xl tracking-wide transition-all duration-500" onclick="createOrder()">Создать заказ</button>
            </div>
            <!-- Описание услуги -->
            <div class="flex-none w-1/2 sm:min-w-full border p-3 mt-9 border-gray-200 bg-gray-50 rounded-lg h-fit">
              <h2 class="text-[#282c4b] text-2xl font-medium">Об услуге</h2>
              <div class="border-t border-gray-200 my-5"></div>
              <h3 id="tariffDiscription">{{ tariffs.0.text_info|safe }}</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
  <script src="{% static 'lk/js/order_form_profile.js' %}"></script>
{% endblock %}


